<ul class="list-group">
  <li class="list-group-item">
      <div class="row">
        <div class="col-md-2">
            <h3 class="display-6">
                {{ post.title }}
            </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
            <span>Likes: {{ post.like_amount() }}</span>
            {% if current_user.id == post.user_id %}
                <button onclick="window.location.href='{{ url_for('dashboard.remove_post', id=post.id) }}';" class="btn btn-danger">
                    X
                </button>
            {% else %}
                {% if post.do_user_like(current_user.get_id()) %}
                    <button onclick="window.location.href='{{ url_for('dashboard.dislike_post', id=post.id) }}';" class="btn btn-danger">
                        Dislike
                    </button>
                {% else %}
                    <button onclick="window.location.href='{{ url_for('dashboard.like_post', id=post.id) }}';" class="btn btn-primary">
                        Like
                    </button>
                {% endif %}
            {% endif %}
        </div>
      </div>
  </li>
  <li class="list-group-item">{{ post.description }}</li>
  <li class="list-group-item">
      <img class="img-responsive" src="{{ post.file_path }}" alt="photo">
  </li>
</ul>
