{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('dashboard.index') }}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav">
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container container-sm">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}